{% extends("::base.html.twig") %}

{% block body %}

<a href="https://github.com/jaytaph/boxconfig" xmlns="http://www.w3.org/1999/html"><img style="z-index: 5000; position: fixed; top: 0; left: 0; border: 0;" src="/img/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>

<div class="container">

    <span class="pull-right"><img src="/img/open-box-hi.png"></span>

    <h1>About Box Config</h1>
    <p>Welcome to box-config.com. A site dedicated to your development environment. Archive your development machines
    find out what others are using as their development tool chain and improve your with software you never even heard
    off!</p>

    <h2>Our goal</h2>
    <p>Our goal is real simple. Have cool looking website where you can add your development environments. Hopefully, we
    succeeded in this, but it all depends on your input! The more users who will input their environments, the more
    powerful the site will be. We can show you statistics about the most used editors, which OS and hardware is loved by
    developers and once and for all get an answer on the "vim or emacs" question!</p>
    <p>But this site is not only about gathering your personal statistics (personally, we can't care less), but you too
    can see how other developers work. Are they using tools on their systems that you never heard off? Maybe you find
    better ways of using your current tools as well!</p>

    {#<h2>Our methods</h2>#}
    {#<p>In aliquet sapien consectetur magna ultricies euismod. Duis hendrerit luctus enim ut varius. Donec mattis luctus#}
    {#condimentum. Vestibulum quis dolor et nisi dapibus consequat ut vel turpis. Cras gravida aliquam sodales. Nullam#}
    {#eget sapien et metus semper vulputate non in arcu. Vivamus posuere rhoncus est, sed tincidunt lectus auctor ac.#}
    {#Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam bibendum odio#}
    {#quis ante sodales interdum. Donec a tortor quis massa sollicitudin ullamcorper at vitae ligula. Donec ut purus diam,#}
    {#nec porttitor turpis. Nunc metus sem, interdum vel consequat vel, faucibus a magna.</p>#}

    <h2>Our code</h2>
    <p>Even though the site itself has been written in PHP, it is heavily based on two main opensource projects:
    <a href="http://symfony.com/">symfony2</a> and <a href="http://twitter.github.com/bootstrap/index.html">
    bootstrap</a>. Both systems have been proven to be a valuable asset when it comes to creating web applications
    and sites quickly and efficiently.</p>

    <p>And off course, you are able to view and use the website code as well. The source code itself is distributed
    under a MIT license and can be found on <a href="http://www.github.com/jaytaph/boxconfig">github</a>.</p>

</div>

{% endblock %}
