{% extends("::base.html.twig") %}

{% block body %}

<div class="container well">
    <img src="/img/open-box-hi.png" height=15% align="right">
    <h1>About Box Config</h1>
    <p>Welcome to box-config.com. A site dedicated to your development environment. Archive your development machines
    and find out what others are using as their development tool chain.</p>

    <h2>Our goal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus tempor luctus. Mauris interdum nisl id
    urna luctus pretium. Ut pulvinar erat at est congue imperdiet sed in velit. Proin at suscipit metus. Integer
    venenatis tincidunt massa vitae pulvinar. Fusce lectus felis, imperdiet tincidunt placerat ac, ullamcorper eget
    lorem. Curabitur eget nibh id mi convallis scelerisque condimentum vitae sapien.</p>

    <h2>Our methods</h2>
    <p>In aliquet sapien consectetur magna ultricies euismod. Duis hendrerit luctus enim ut varius. Donec mattis luctus
    condimentum. Vestibulum quis dolor et nisi dapibus consequat ut vel turpis. Cras gravida aliquam sodales. Nullam
    eget sapien et metus semper vulputate non in arcu. Vivamus posuere rhoncus est, sed tincidunt lectus auctor ac.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam bibendum odio
    quis ante sodales interdum. Donec a tortor quis massa sollicitudin ullamcorper at vitae ligula. Donec ut purus diam,
    nec porttitor turpis. Nunc metus sem, interdum vel consequat vel, faucibus a magna.</p>

    <h2>Our code</h2>
    <p>Even though the site itself has been written in PHP, it is heavily based on two main opensource projects:
    <a href="http://symfony.com/">symfony2 framework</a> and <a href="http://twitter.github.com/bootstrap/index.html">
    bootstrap.js</a>. Both systems have been proven to be a valuable asset when it comes to creating web applications
    and sites quickly and efficiently.</p>

    <a href="https://github.com/jaytaph/boxconfig"><img style="z-index: 5000; position: absolute; top: 0; left: 0; border: 0;" src="/img/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>

    <p>And off course, you are able to view and use the code as well. The code itself is distributed under an </p>

</div>

{% endblock %}
