{% extends("::base.html.twig") %}

{% block tip %}
    <div class="row">
        <div class="span12">
            {% render "BoxConfigDefaultBundle:Widget:tip" %}
        </div>
    </div>
{% endblock %}

{% block widget %}
<div class="row">
    {% render "BoxConfigDefaultBundle:Widget:top" with { "slug" : "hardware" } %}
    {% render "BoxConfigDefaultBundle:Widget:top" with { "slug" : "os" } %}
{% if app.user and is_granted("ROLE_ADMINISTRATOR") %}
    {% render "BoxConfigDefaultBundle:Widget:adminpanel" %}
{% elseif app.user and is_granted("ROLE_USER") %}
    {% render "BoxConfigDefaultBundle:Widget:userpanel" %}
{% else %}
    {% render "BoxConfigDefaultBundle:Widget:register" %}
{% endif %}
</div>
{% endblock %}

{% block body %}

<div class="hero-unit">
    {% block main %}{% endblock %}
</div>

{% endblock %}
