{% extends("::base.html.twig") %}

{% block tip %}
    <div class="row">
        <div class="span12">
            {% render "BoxConfigDefaultBundle:Widget:tip" %}
        </div>
    </div>
{% endblock %}

{% block widget %}
<div class="row">
    {% render "BoxConfigDefaultBundle:Widget:top" with { "slug" : "ide" } %}
    {% render "BoxConfigDefaultBundle:Widget:top" with { "slug" : "os" } %}
{% if app.user and is_granted("ROLE_ADMINISTRATOR") %}
    {% render "BoxConfigDefaultBundle:Widget:adminpanel" %}
{% elseif app.user and is_granted("ROLE_USER") %}
    {% render "BoxConfigDefaultBundle:Widget:userpanel" %}
{% else %}
    {% render "BoxConfigDefaultBundle:Widget:register" %}
{% endif %}
</div>
{% endblock %}

{% block body %}

<div class="hero-unit">
    <img src="/img/open-box-hi.png" height=50% align="right">
    <h1>Welcome</h1>
    <p>Welcome to box-config.com. A site dedicated to your development environment. Find out what others are using
    on their system.</p>
    <p><a class="btn btn-primary btn-large" href="{{ path("BoxConfigDefaultBundle_about") }}">Learn more &raquo;</a></p>
</div>

{% endblock %}
