{% extends("::base.html.twig") %}

{% block body %}
<h1>Software creation</h1>

<form class="form-horizontal" action="{{ path('component_software_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('component_software') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}