{% extends("::base.html.twig") %}

{% block body %}
<h1>Environment edit</h1>
<p>Update this environment</p>

<form class="form-horizontal" action="{{ path('environment_update', { 'machine_id': machine.id, 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
{{ form_widget(edit_form) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" href="{{ path('machine') }}">Cancel</a>
    </div>
</form>

{% endblock %}