{% extends("BoxConfigDefaultBundle:Default:index.html.twig") %}

{% block main %}
    <img src="/img/open-box-hi.png" height=50% align="right">
    <h2>Welcome back, {{ app.user.fullname }}!</h2>
    <p>You have currently <b>{{ app.user.configurations | length }}</b> configurations registered.</p>
{% endblock %}