{% extends("BoxConfigDefaultBundle:Default:index.html.twig") %}

{% block main %}
    <img src="/img/open-box-hi.png" align="right">
    <h2>Hi there, {{ app.user.fullname }}!</h2>

    <p>It seems like you haven't added any machines yet. Why don't you add some?</p>

    <p><a class="btn btn-primary btn-large" href="{{ path("machines") }}">Add machine &raquo;</a></p>
{% endblock %}