{% extends("::base.html.twig") %}

{% block body %}

<span class="pull-left"><img src="{{ entity.webthumbpath(260,180) }}"></span>
<h1>{{ entity }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Description</th>
            <td>{{ entity.description | nl2br }}</td>
        </tr>
    </tbody>
</table>

{#<a class="btn btn-primary" href="{{ path('hardware') }}">#}
    {#Back to the list#}
{#</a>#}


{% endblock %}
