{% extends("::base.html.twig") %}

{% block body %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="thumbnails">
                <span class="pull-left"><img src="{{ entity.webthumbpath(260,180) }}"></span>
            </div>
        </div>
        <div class="span10">
            <div class="well">
                <h1>{{ entity }}</h1>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description | nl2br }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% include "::comments.html.twig" with { "comment_add_path" : "user_hardware_comment_new", "entity" : entity, "comments" : entity.comments } %}

{% endblock %}
