{# Standard layout for all the fosuser stuff #}
{% extends "::base.html.twig" %}

{% block body %}

    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}

<div class="container">
    {% block fos_user_content %}{% endblock %}
</div>

{% endblock %}