{% extends "::base.html.twig" %}

{% block body %}

<div class="container well">

    <div class="box">

        {% block fosheader %}{% endblock %}

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

    </div>

</div>

{% endblock %}