<div class="container">
    <div class="row">
        <div class="offset3 span6">
            <div class="well">
                <h2>Reset your password</h2>
                <p>Please reset your password by providing a new password.</p>

                <form class="form-horizontal" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>